/* Commentaire:header */
header
{ 
text-align:center;
}
header img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    text-align: center;
}

.parent-header{
  display: none;
  background-color: white;
  opacity: 0.5;
  height: 100px;
  width: 100px;
  position: relative;
}
.hidden-message-header{
  width: 100px;
  height: 100px;
  position: absolute;
  opacity: 0.5;
  color: white;
}
.parent:hover .parent-message-header {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 5%;
  color: white;
}
/* Fin commentaire:header */

/* Commentaire:Images */

.rounded
{
    border-radius: 50%;
 }
img{
  width: 110px;
  height: 110px;
  border-radius: 10px;
}
.hidden-box {
  display: none;
  background-color: black;
  opacity: 0.5;
  height: 100%;
  position: absolute;
}
.parent {
  width: 110px;
  height: 110px;
}
.parent:hover .hidden-box {
  display: block;
  width: 110px;
  height: 110px;
  border-radius: 5%;
  color: white;
}
/* Fin Commentaire :Images */

/* Commentaire:Article*/
article {
	font-family: 'Shadows Into Light', cursive;
	float: left;
	width: 40%;
  	padding: 20px 5%;
}
article
p{ 
	color: purple;
	text-align: justify;
  	-moz-column-count: 2;
  	-moz-column-gap: 20px;
  	-webkit-column-count: 2;
  	-webkit-column-gap: 20px;
  	margin: 0 0 2em 0;
  	padding-bottom: 
  	border-bottom: 1px solid white;
  	border-top: 1px solid white;
}
.copy {

}
.copy p {
 
}
/* Commentaire:Fin Article*/

/* Commentaire:navigation*/
nav ul li {
  display: inline-block;
  text-decoration: none;
  padding: 10px 40px;
}

nav {
    border-bottom: 1px solid rgb(107, 1, 3);
    border-top: 1px solid rgb(107, 1, 3);
    margin: 20px 0;
    border: 1px solid; transparent;
}
a {
	text-decoration: none;
	color: purple;
	font-size: 16pt;
}
a:link{
text-decoration: none;
}
a:hover{
color: grey;
}
a:visited{
color:
}

/* Fin Commentaire :Navigation */

aside{
width:20%;
}

section{
	width: 78%;
	padding: 0 1%;
	border-right: ;
}
footer{
clear: both;
}

/* Commentaires balisage Hn*/

h1{ 
    color: rgba(163, 0, 6, 1);
    margin-top: 0;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 26pt;
}

h3 { 
	font-size: 25px;  
	color: rgb(212,57,43);
	text-align: center;
}
.h3 { 
	font-size: 45px;  
}
.embiggen {
  font-size: 4em;
  text-shadow: 0 0 40px #ffbab3;
}
.amp {
  margin: 0 0 0.25em 0;
}
/* Fin Commentaires balisage Hn*/

.right {
float: right;
}

.left
{
float: left;
}
.wrapper 
{
  width: 960px;
  margin: auto;
  background-color: white;
  padding: 20px 50px;

.emailing {
 width: 33.3333%;
}
#get-name
{
border: 10pt;
width: 80%;
height: 20px;
color: white;
background-color: red;
}
