head { 
text-align:center;
}

h1{ 
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

{ 
	font-size: 16 pt;
}
nav
ul li { 
display: inline;
padding: 0 0.5em;
}
ul {
list-style-type : none;
text-align: center;
}
section {
text-align: center;
}
